.form-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.form-form {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
}

