<div>
  <link href="./form11.css" rel="stylesheet" />
  <div class="form11-container">
    <form class="form11-form">
      <input
        type="text"
        placeholder="placeholder"
        class="form11-textinput input"
      />
      <input
        type="text"
        placeholder="placeholder"
        class="form11-textinput1 input"
      />
      <input
        type="text"
        placeholder="placeholder"
        class="form11-textinput2 input"
      />
      <button class="form11-button button"><span>Button</span></button>
    </form>
  </div>
</div>
