<div>
  <link href="./input-string.css" rel="stylesheet" />
  <div class="input-string-container">
    <div class="input-string-container1 input_class">
      <svg viewBox="0 0 1024 1024" class="input-string-icon">
        <path
          d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"
        ></path>
      </svg>
      <input
        type="number"
        placeholder="Enter Text"
        class="input-string-textinput input"
      />
    </div>
  </div>
</div>
