.component1-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.component1-container1 {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.component1-link {
  display: contents;
}
.component1-icon {
  top: var(--dl-space-space-unit);
  left: var(--dl-space-space-unit);
  width: 24px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.component1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.component1-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  justify-content: center;
}
.component1-link1 {
  display: contents;
}
.component1-component {
  text-decoration: none;
}
.component1-icon2 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  width: 24px;
  cursor: pointer;
  height: 24px;
  position: absolute;
}
.component1-root-class-name {
  margin-top: var(--dl-space-space-twelveunits);
}
@media(max-width: 767px) {
  .component1-container1 {
    width: 100%;
  }
}
